body {
    background-image: url("../images/cars.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    ba
}









#container {
    width: 800px;
    height: 800px;
    border: 2px solid #000;
    background:#fff;
    margin: 0 auto;
}

.row {width: 100%;height: 12.5%;}

.row > div {
    width: 12.5%;
    height: 100%;
    float: left;
}

.row:nth-child(odd) > div:nth-child(odd) {
    background-color: #000;
}

.row:nth-child(even) > div:nth-child(even) {
    background-color: #000;
}